<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bie.dao.JxcRoleEmployeeMapper" >
  <resultMap id="JxcEmployeeWarehouseResultMap" type="com.bie.po.JxcRoleEmployee" >
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
  </resultMap>
  
</mapper>